<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      h1{
        color:red
      }
    </style>
  </head>
  <body>
    <h1>My First HTML project</h1>
    <h1>{{time}}</h1>
    <h1>{{name}}</h1>
    <table border="2">
    <thead>
      <th>key</th>
      <th>value</th>
    </thead>
    <tr>
      <td>name</td>
      <td>{{one}}</td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{two}}</td>
    </tr>
    </table>

    {{1}}
    {{2}}
  </body>
</html>
